AddType application/vnd.android.package-archive .apk
<FilesMatch "\.apk$">
    Header set Content-Type "application/vnd.android.package-archive"
    Header set Content-Disposition "attachment; filename=app-release.apk"
    Header set Access-Control-Allow-Origin "*"
</FilesMatch>
